*{
    margin: 0;
    padding: 0;
    font-family: disney-font;
}
@font-face {
    font-family: disney-font;
    src: url(../fonts/alte_haas_grotesk/AlteHaasGroteskRegular.ttf);
}


/* HEADER */

.grids{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "parques parques parques"
    "entradas entradas entradas"
    "planes hoteles hoteles"
    "noticias noticias mdw"
    "footer footer footer"
    "footer footer footer"
    ;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 3% 0.7fr 0.7fr 1fr 1fr 150px 3%px;
    height: auto;
}


/* HEADER_NAMING_GRIDS */

.navbar{
    grid-area: nav;
}

.logo-white{
    width: 170px;
}

.form-control{
    background-color: white;
}

.form-control:not(:active){
    background-color: white;
}

.form-control:active{
    background-color: white;
}

.parques{
    grid-area: parques;
    background-color: rgba(231, 231, 231, 0.929);
    text-align: center;
    color: white;
}

.entradas{
    grid-area: entradas;
    background-color: rgba(231, 231, 231, 0.929);
    text-align: center;
}

.planes-de-comidas{
    grid-area: planes;
    background-color: burlywood;
    text-align: center;
}

.hoteles{
    grid-area: hoteles;
    text-align: center;
    background-color: rgb(174, 233, 119);
}

.noticias{
    grid-area: noticias;
    background-color: rgb(72, 151, 151);
    text-align: center;
}

.my-disney-world{
    grid-area: mdw;
    background-color: darkkhaki;
    text-align: center;
}

.img-parques{
    height: 450px;
}

.img-entradas{
    max-width: 1200px;
    overflow: hidden;
    align-content: center;
    align-items: center;
}

.img-planes{
    max-width: 700px;
    overflow: hidden;
}

.img-hoteles{
    max-width: 700px;
    overflow: hidden;
}

.section{
    position: relative;
}

.section_h1_parques{
    position: absolute;
    left: 50%;  
    z-index: 1;
    color: white;
    padding: 10px;
}

.section_h1_entradas{
    position: absolute;
    left: 50%;  
    z-index: 1;
    color: white;
    padding: 10px;
}

.section_h1_planes{
    position: absolute;
    left: 15%;  
    z-index: 1;
    color: white;
    padding: 10px;
}

.section_h1_hoteles{
    position: absolute;
    left: 70%;  
    z-index: 1;
    color: white;
    padding: 10px;
}

.section_h1_parques:hover{
    position: absolute;
    left: 50%; 
    font-size: 45px; 
    z-index: 1;
    color: white;
    padding: 10px;
}

.section_h1_entradas:hover{
    position: absolute;
    left: 50%;  
    font-size: 45px;
    z-index: 1;
    color: white;
    padding: 10px;
}

.section_h1_planes:hover{
    position: absolute;
    left: 15%;  
    font-size: 45px;
    z-index: 1;
    color: white;
    padding: 10px;
}

.section_h1_hoteles:hover{
    position: absolute;
    left: 70%;  
    font-size: 45px;
    z-index: 1;
    color: white;
    padding: 10px;
}

.carousel-caption{
    font-weight: bold;
    font-size: medium;
}

/* FOOTER */

.footer{
    grid-area: footer;
    background-color: #1c468e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.footer_ul-parques{
    list-style-type: none;
    color: white;
    font-size: small;
}

.footer_div-parques{
    padding: 1%;
    color: white;
    text-align: center;
}

.footer_legales{
    display: block;
    color: white;
    font-size: x-small;
}

.footer_list{
    color: white;
    text-decoration: none;
}

.footer_list:hover{
    font-weight: bold;
}
